  <div class = "container-fluid">
    <div class="col-sm-8">
      <%= render 'shared/searchbar' %>
    </div>
      <div class="row">
        <% @tools.each do |tool| %>
        <div class="col-xs-6 col-md-4 col-lg-3">
          <%= render 'card', tool: tool %>
        </div>
        <% end %>
      </div>
    </div>
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>

