  <div class = "container-fluid">
    <div class="col-sm-8">
      <div class="row">
        <% @tools.each do |tool| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'card', tool: tool %>
        </div>
        <% end %>
      </div>
    </div>
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>

