<<<<<<< HEAD
<%= render '/shared/card' %>
=======
<h1>Tools#index</h1>
<p>Find me in app/views/tools/index.html.erb</p>
<% @tools.each do |tool| %>
  <%= tool.name %>
  <br>

<% end %>
>>>>>>> 191fb78a619c2e85074f83400bdd1038fc540c97
