
<div class="main-content">
  <div class="cards-content">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div id="movies">
        <% @tools.each do |tool| %>
        <%= render 'card', tool: tool %>
         <% end %>
      </div>
      </div>
    </div>
  </div>

<div id="map"
data-markers="<%= @markers.to_json %>"
></div>

