<div class="my-container">
  <div class="row">
  <% @tools.each do |tool| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= render 'card', tool: tool %>
    </div>
  <% end %>
  </div>
</div>
