.cards-content {
  width: 65%;
  background-size: cover;
  border: 2px solid;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/47/42/145858b6096946a.jpg');
}

.my-container {
  height: 100vh;
  border: 2px solid;
  background-size: auto 100%;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/47/42/145858b6096946a.jpg');
}
