.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 5px;
  color: grey;
  border-radius: 2px;
  border: 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: black;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 32px;
  color: black;
}
.card-description h2 {
  font-size: 24px;
  color: black;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  color: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
  color: black;
}

.booking{
  text-align: center;
  justify-content:center;
  margin: 20px;
  background-color: #f7f7f7 ;
  opacity:0.8;
  border: solid 1px;
  border-color: white;
  border-radius:5px;
}

.container-fluid{
 background-color: #eeeeee;
}

.description-tools{
  margin: 10px;
}

// .card:hover {
//   box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
// }

// img {
//   width: 480px;
//   border-radius: 1% 1% 0 0;
// }

// h4 {
//   font-family: Roboto, sans-serif;
//   font-size: 24px;
//   font-weight: bold;
//   margin: 20px 30px 0px;
// }

// p {
//   font-family: Roboto, sans-serif;
//   font-size: 16px;
//   font-weight: 300;
//   width: 414px;
//   margin: 8px 30px 0px;
//   color: #757575;
// }




